// Colors
$dark-blue:#0a2240;
$blue:#2874f0;
$grey:#717171;
$light-grey:#c4c4c4;
$orange: #EF672A;
$gold:#ffe500;
$white:#ffffff;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


$header-height:70px;