.footer-promo{
	text-align:center;
	font-size:1.3rem;
	background-color: #2874f0;
	min-height: 70px;
	position: absolute;
    bottom: 0px;
    z-index: 99999;
    top:100%;
    .footer{
    	padding: 15px 0;
    	color:#ffffff;
    }
}